#header{
    background: rgb(12, 15, 15);
    color: #ffffff;
}

#branding h1{
    color: #ffffff;
}

.login .submit-row{
    padding:0px !important;
    float: right;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: rgb(0, 62, 69);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}